div.slot {
	border: solid 1px #030303;
	margin: 5px;
	font-size:11pt;
	background:#333333;
}

img.icon {
	padding 10px;
	margin:0px 10px;
}

span.slotHeader {
	font-weight:bold;
	color:#ffffff;
	font-size:12pt;
}

span.slotKey {
	color:#68feb4;
	font-size:26pt;
	font-weight:bold;
}

span.slotValue {
	color:#c1fee0;
	font-size:26pt;
	font-weight:bold;
}

input.textfield {
	margin:5px;
	padding:5px;
	background: #030303;
	border:1px solid #3D3D3D;
	color:#c1fee0;
	width:40px;
	height:30px;
	font-size:22pt;
	text-align:center;
	font-weight:bold;
}

#main {
	height:862px;
	width:1300px;
	border: solid 1px #030303;
    color: #84c754;
	background: url(../img/user_panel_background.jpg);
}

#top {
	position: absolute;
	top: 15px;
	width: 1270px;
	padding:20px;
	text-align: center;
	font-size:20pt;
	font-weight:bold;
	text-shadow: 2px 2px 2px #3B5C3A;
    color: #84c754;
	background: url(../img/admin_panel_background.jpg);
	opacity:0.95;
}

#power {
	position: absolute;
	left:280px;
	top:331px;
	text-align:center;
	height:99px;
	width:210px;
	border: solid 2px #FFFFFF;
	background: url(../img/user_ctrl_background.png);
	-ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}

#depth {
	position: absolute;
	left:55px;
	top:335px;
	text-align:center;
	height:99px;
	width:197px;
	border: solid 1px #FFFFFF;
	background: url(../img/user_ctrl_background.png);
	-ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}

#temperature {
	position: absolute;
	left:616px;
	top:325px;
	text-align:center;
	height:99px;
	width:290px;
	border: solid 2px #FFFFFF;
	background: url(../img/user_ctrl_background.png);
	-ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}

#deepflight-power {
	position: absolute;
	left:950px;
	top:320px;
	text-align:center;
	height:99px;
	width:290px;
	border: solid 2px #FFFFFF;
	background: url(../img/user_ctrl_background.png);
	-ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}
